.hero-content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem;
	position: relative;
	z-index: 2;
	mix-blend-mode: difference;
}

.hero-title {
	font-size: 3rem;
	font-weight: 600;
	margin-top: 8rem;
	@media screen and (min-width: 1200px) {
		font-size: 6rem;
	}
	mix-blend-mode: exclusion;
	color: rgba(15, 79, 144, 0.8);
	position: relative;
	z-index: 2;
	text-transform: uppercase;
}

.ctaButtons {
	display: flex;
	flex-direction: column;
}

a.cta {
	display: inline-block;
	margin: 0.5rem 0;
	padding: 0.75rem 1.5rem;
	border: 1px solid rgba(70, 161, 203, 0.8);
	border-radius: 28px 8px 28px 8px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	width: fit-content;
	mix-blend-mode: difference;
	backdrop-filter: blur(10px);
}
